* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #455347;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
:root {
  --title-color: #2e2f42;
  --text-color: #434455;
  --logo-web-color: #4d5ae5;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/*----header-----*/

.header-logo-studio,
.header-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 77px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.header-logo-studio {
  color: #2e2f42;
}
.header-logo-web {
  color: var(--logo-web-color);
}
.header-list {
  display: flex;
  gap: 40px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header > .container {
  display: flex;
}
/*----.header-item----*/
.header-link {
  font-weight: 600;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 24px;
}
.header-link:hover,
.hero-btn:hover {
  color: #2dbbd4;
}
.header-link:focus {
  color: #1badda;
}
.header-mailto:hover,
.header-tel:hover {
  color: #48cbec;
}
.header-mailto,
.header-tel {
  font-weight: 400;
  color: #434455;
}
/*----main{}-----*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*------hero--------*/

.hero {
  background-color: #2e2f42;
  text-align: center;
  margin: auto;
  padding-top: 192px;
  padding-bottom: 192px;
}

.hero-caption {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
  margin-bottom: 48px;
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  display: inline-block;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  padding: 16px 32px;
  gap: 10px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/*------text--------*/
.text {
  padding-top: 120px;
  padding-bottom: 120px;
}
.text-list {
  display: flex;
}
/*------.text-item {}--------*/
.text-title {
  color: var(--title-color);
  padding-bottom: 8px;
  padding-left: 24px;
}
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}
.text-quote {
  font-weight: 400;
  color: var(--text-color);
  padding-left: 24px;
}

/*------.about {}--------*/
.about-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--title-color);
  padding-bottom: 72px;
}

.about-list {
  display: flex;
  gap: 24px;
  padding-bottom: 120px;
}
/*------.about-item --------*/

/*------user--------*/

.user {
  background: #f4f4fd;
}
.user-logo {
  padding-top: 32px;
  padding-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
.user-logoo {
  padding-top: 32px;
  padding-bottom: 72px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
}
.user-list {
  display: flex;
  gap: 24px;
  padding-bottom: 120px;
  align-items: center;
  text-align: center;
}
.user-item {
  width: calc((100%-72px) / 4);
}
.user-quote {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 32px;
}

/*----footer-----*/

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo-web,
.footer-logo-studio {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo-studio {
  color: #f4f4fd;
}
.footer-logo-web {
  color: var(--logo-web-color);
  padding-bottom: 16px;
}
.footer-quote {
  font-weight: 400;
  color: #e7e9fc;
  font-weight: 400;
  max-width: 264px;
}

/*----features-----*/
.features-btn {
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  font-family: inherit;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 8px 16px;
  margin-right: 24px;
  cursor: pointer;
}
.features-btn:hover {
  color: #ffffff;
}
.features-btn:focus {
  color: #ffffff;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  padding-top: 96px;
  padding-bottom: 72px;
  justify-content: center;
}
.project-list > .project-item {
  margin-right: 24px;
  margin-bottom: 48px;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.card-link {
  display: flex;
  flex-direction: column;
}
.project-text {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  color: var(--text-color);
  border-top: none;
}
.project-title {
  font-weight: 500;
  line-height: calc(24 / 20);
  color: #2e2f42;
  font-weight: 600;
  margin-top: 48px;
}
.project-item {
  border: 0.5px solid #f4f4fd;
  width: calc((100%- 48px) / 3);
}
.project-item:not(:nth-child(3n)) {
  margin-right: 24px;
}
.container-portfolio {
  border: 1px solid red;
  border-top: none;
  padding: 48px 56px 48px 56px;
  border-bottom: 0.5px solid #f4f4fd;
  border-right: 0.5px solid #f4f4fd;
  border-left: 0.5px solid #f4f4fd;
}
